# This file is a "template" of which env vars need to be defined
# for your application use only on development stages.
# Create real environment variables when deploying to production

# Drupal
DRUPAL_HOST=http://jmolivas-drupal.weknowinc.develop

# Gatsby
PROJECT_URL=http://jmolivas.weknowinc.develop

# Manifest
SITE_NAME=Jesus Manuel Olivas - WeKnow Blog
SHORT_NAME=WeKnow Blog

# Analytics
TRACKING_ID=UA-XXXXXXXX-X

# Drupal Planet Feed
DRUPAL_RSS_FEED_FILE=drupalplanet.xml
DRUPAL_RSS_FEED_TAG=drupalplanet
