# This file is a "template" of which env vars need to be defined
# for your application use only on development stages.
# Create real environment variables when deploying to production

# drupal
DRUPAL_HOST=https://jmolivas-drupal.weknowinc.com

# gatsby
PROJECT_URL=https://jmolivas.weknowinc.com

# manifest
SITE_NAME=Jesus Manuel Olivas - WeKnow Blog
SHORT_NAME=WeKnow Blog
