
/* c-sidebar */

.c-sidebar{
  position: fixed;
  z-index: 99;
  right: 0;
  width: $sidebar-width;
  height: 100vh;
  transform: translateX(20rem);
  transition: transform 200ms cubic-bezier(.17,.67,.45,.93);
  background-image: linear-gradient(to right bottom, #af1f45 60%, #644b78 100%);
  &--active{
    transform: translateX(0rem);
  }
  &__cover{
    position: fixed;
    z-index: 90;
    width: 100%;
    height: 100vh;
    transform: scale(0);
    transition: background-color 200ms cubic-bezier(.17,.67,.45,.93);
    background-color: rgba($color: color(black), $alpha: 0);
    &--active{
      transform: scale(1);
      background-color: rgba($color: color(black), $alpha: .3);
    }
  }
  &__close{
    width: 40px;
    svg{ fill: color(white); }
  }
  &__menu{
    height: 90%;
  }
  &__link{
    font-size: 2rem;
    color: color(white);
    text-decoration: none;
  }
  &__cta{
    background-color: color(white);
    color: color('alternative');
    padding: .3rem 0.6rem;
    text-decoration: none;
  }
}