///* ========================================================================
//   #COLORS
//   ======================================================================== */

$colors: (
  primary: rgb(100, 75, 120),
  secondary: rgb(234, 234, 234),
  error: rgb(255, 172, 42),
  alert: rgb(219, 213, 110),
  info: rgb(40, 141, 193),
  text: rgb(30, 30, 39),
  shadows: rgba(206, 206, 206, .6),
  white: rgb(247, 247, 247),
  black: rgb(17, 17, 17),
  border: rgb(220, 218, 213),
  divider: rgb(199, 196, 192),
  links: rgb(40, 141, 193),
  excerpt: rgb(102, 102, 102),
  alternative: rgb(175, 31, 69),
);
